<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/icons/fontawesome/css/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/style-login-cadastro.css">
    <title>Veg.me <%= title %> </title>
</head>

<body>
    
    <header>
        <div class="container d-flex justify-content-center  align-items-center py-2  ">
            <img src="/images/Logo-veg.me.png" alt="Logo">
            <a href="/" id="link-home"><h1>veg.me</h1></a>
        </div>
    </header>