<header class="sticky-top" id="nav-bar">
    <div class="container py-2 row mx-auto">

        <div class="d-inline-flex justify-content-start align-items-center col-3">
            <a href="/home">
                <img src="/images/LOGO.png" alt="Logo" id="logo-veg-me">
            </a>
            <p id="titulo-navbar">veg.me</p>
        </div>

        <form class="form-inline col-6">
            <div class="input-group mx-auto">
                <input type="text" class="form-control" id="form-buscar" placeholder="@ Pesquisar">
            </div>
        </form>

        <!-- Dropdown Menu -->
        <div class="col-3 d-flex flex-row-reverse">
            <div class="dropdown align-self-center">
                <a href="" role="button" data-toggle="dropdown">
                    <i class="fas fa-bars icon-menu"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/usuario/editar">Editar Perfil</a>
                    <a class="dropdown-item" href="/usuario/configuracao">Configurações</a>
                    <a class="dropdown-item" href="/">Sair</a>
                </div>
            </div>
        </div>

    </div>
</header>