<header>
    <div class="container d-flex justify-content-center  align-items-center py-2  ">
        <img src="/images/LOGO.png" alt="Logo" id="logo-veg-me">
        <a href="/" id="link-home"><h1>veg.me</h1></a>
    </div>
</header>