<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "google-signin-client_id" content = "554100096158-ps2ij57f92h7p9e0jdtqa6ennu50mscg.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="shortcut icon" href="/icons/LOGO.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/icons/fontawesome/css/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/<%=css%>">
    <title>veg.me || <%= title %> </title>
</head>