<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/icons/fontawesome/css/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/<%=css%>">
    <title>veg.me || <%= title %> </title>
</head>

<body>

    <header id="nav-bar">
        <div class="container py-2 row mx-auto">

            <div class="d-inline-flex justify-content-start align-items-center col-3">
                <img src="/images/Logo-veg.me.png" alt="Logo">
                <p id="titulo-navbar">veg.me</p>
            </div>

            <form class="form-inline col-6">
                <div class="input-group mx-auto">
                  <input type="text" class="form-control" id="form-buscar" placeholder="@ Pesquisar">
                </div>
              </form>
              
            <div class="col-3 d-flex flex-row-reverse">
                
                <i class="fas fa-bars icon-menu"></i>
            </div>
        </div>
    </header>
