<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head-meta') %>

<body>

    <header class="fixed-top">
        <div class="container d-flex justify-content-between align-items-center py-2  ">
            <img src="/icons/index/Logo-veg.me-cinza.png" alt="Logo">
            <h1>veg.me</h1>
            <a href="/login">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </header>

    <main>
        <div class="container">

            <div class="d-flex flex-column pb-5 pt-5 ">
                <div class="p-2">
                    <h2 class="font-main-titulo text-center">
                        Coma o que te faz bem !!!
                    </h2>
                </div>

                <div class="row align-items-center justify-content-between  mt-5 mb-5" id="div-vaca-texto">
                    <div class=" col-sm-5  d-flex justify-content-center " id="div-img-vaca">
                        <img src="/icons/index/vaca-transparente.png" alt="" id="img-vaca">
                    </div>
                    <div class="col-sm-5  text-center mt-5">
                        <h2 class="font-main-texto">"Junte-se a quem acredita que através da alimentação possa fazer do mundo um lugar MELHOR"</h2>
                    </div>
                </div>

                <div class="row align-items-center justify-content-around mt-5 mb-3">
                    <div class="col-lg-3  d-flex justify-content-center align-items-center mb-2 ">
                        <img src="/icons/index/like.png" alt="" id="img-like">
                        <h2 class="font-main-icon">Curtir</h2>
                    </div>
                    <div class="col-lg-3  d-flex justify-content-center align-items-center mb-2">
                        <img src="/icons/index/cozinhando.png" alt="" id="img-like">
                        <h2 class="font-main-icon">Compartilhar</h2>
                    </div>
                    <div class="col-lg-3  d-flex justify-content-center align-items-center ">
                        <img src="/icons/index/amigos.png" alt="" id="img-like">
                        <h2 class="font-main-icon">Amizades</h2>
                    </div>
                </div>
                
            </div>
        </div>
    </main>

    <footer>
        <div class="container d-flex justify-content-center align-items-center py-3 ">
            <p>copyright</p>
            <img src="/icons/index/Logo-veg.me-cinza.png" alt="logo">
            <h4>veg.me</h4>
        </div>
    </footer>

    <%- include('./partials/scripts') %>
    
</body>

</html>