<%- include('./partials/header') %>
  <main class="container">
    <div id="post-completo" class="container my-3">

      <div class="d-flex justify-content-between align-items-center my-3">

        <div class="d-flex align-items-center justify-content-start">
          <a href=""><img src="/images/post-completo/andre-furtado-JtV6zyOZSrA-unsplash.jpg" alt="Logo"
              id="foto-perfil"></a>
          <div class="ml-2">
            <p>Titular do Post</p>
            <h4>Título do post</h4>
          </div>
        </div>

        <!-- ícone para denunciar -->
        <div class="icon-denunciar">
          <!-- <i class="fas fa-exclamation-triangle"></i> -->
          <a href="/home">
            <i class="fas fa-arrow-left"></i>
          </a>
        </div>

      </div>

      <!-- Card do Post -->
      <div class="card">
        <img src="/images/e4dc8320-7171-11e8-85fa-f767ca73e247_IMG_0794.jpg" class="card-img-top" alt="...">

        <div class="card-body">

          <div class="d-flex justify-content-between">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam a saepe eaque eum fugit illo commodi
              doloribus blanditiis eveniet quo, et iusto aperiam debitis, optio aut excepturi facilis voluptate totam.
            </p>
          </div>

        </div>

        <!-- Botões Post + Curtir + Comentar -->

        <div class="row">

          <div class="col group-btn-post">
            <button type="button" class="btn btn-ccp">Curtir</button>
          </div>
          <div class="col group-btn-post">
            <button type="button" class="btn btn-ccp">Comentar</button>
          </div>

        </div>


      </div>

      <section class="border mt-3" id="post-comentario">

        <!-- <div class="header-comentarios">
          <h3>Comentários</h3>
        </div> -->

        <div class="list-group list-group-flush">
          <div class="list-group-item">
            <div class="d-flex justify-content-start align-items-center mb-2">
              <img src="/images/e4dc8320-7171-11e8-85fa-f767ca73e247_IMG_0794.jpg" class="img-amigo img-fluid" alt="...">
              <p class="nome-perfil">Nome do perfil</p>
            </div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque eaque corporis repellat debitis quo atque
              est ipsa vitae distinctio, veritatis officia, dolorem officiis eos accusamus. Iure velit similique aperiam
              molestias, quibusdam totam voluptate iste adipisci obcaecati sed animi eaque necessitatibus, modi ipsa
              exercitationem maiores! Non facere doloremque quia omnis illum?
            </p>
          </div>
          <div class="list-group-item">
            <div class="d-flex justify-content-start align-items-center mb-2">
              <img src="/images/e4dc8320-7171-11e8-85fa-f767ca73e247_IMG_0794.jpg" class="img-amigo img-fluid" alt="...">
              <p class="nome-perfil">Nome do perfil</p>
            </div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, ratione?
            </p>
          </div>
          <div class="list-group-item">
            <div class="d-flex justify-content-start align-items-center mb-2">
              <img src="/images/e4dc8320-7171-11e8-85fa-f767ca73e247_IMG_0794.jpg" class="img-amigo img-fluid" alt="...">
              <p class="nome-perfil">Nome do perfil</p>
            </div>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. In vero eos asperiores facilis, nihil placeat!
            </p>
          </div>
          <div class="list-group-item">
            <div class="d-flex justify-content-start align-items-center mb-2">
              <img src="/images/e4dc8320-7171-11e8-85fa-f767ca73e247_IMG_0794.jpg" class="img-amigo img-fluid" alt="...">
              <p class="nome-perfil">Nome do perfil</p>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ex ut animi temporibus quia eveniet natus
              est officia nobis illo.
            </p>
          </div>
          <div class="list-group-item">
            <div class="d-flex justify-content-start align-items-center mb-2">
              <img src="/images/e4dc8320-7171-11e8-85fa-f767ca73e247_IMG_0794.jpg" class="img-amigo img-fluid" alt="...">
              <p class="nome-perfil">Nome do perfil</p>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet modi atque beatae.
            </p>
          </div>

        </div>

      </section>

    </div>

  </main>

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>
