@font-face{
    font-family: myFont1;
    src: url(../fonts/LoveNature-Rppe6.ttf);
}
@font-face {
    font-family: Giz-titulo;
    src: url(../fonts/KGSecondChancesSketch.ttf);
} 
@font-face{
    font-family: Giz-texto;
    src: url(../fonts/whatever\ it\ takes.ttf);
}
 

main{
    width: 100%;
    background-image: url("../images/losa.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

/* header */
header{
    background-color: #FFF;
    border-bottom: #98E144 solid 2px;
}
header h1{    
    color:#404040 ;  
    font-weight: 700;  
    font-family: myFont1;
    font-size: 20px;
    letter-spacing: 0.2em;
    margin: 0;
}
header i{
    font-size: 40px;
    color: #404040;
}

/* conteudo main */
main{
    margin-top: 55px;
}
.font-main-titulo{
    font-size: 44px;
    color: #98E144;
    font-family: giz-titulo ;
    text-transform: uppercase;
}
.font-main-texto {
    color: rgb(255, 255, 255);    
    font-family: Giz-texto;
    letter-spacing: 3px;
    font-size: 36px;
}
.font-main-icon{
    color: #98E144;
    font-family: giz-titulo;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 700;
}
#img-vaca{
    width: 100%;
    width: 280px;
    height: 300px;
}
#img-like{
    width: 100%;
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

/* footer  */
footer{
    background-color: #FFF;
    border-top: #98E144 solid 5px;
    border-bottom: #98E144 solid 5px;
    width: 100%;
}
footer p,h4{
    margin: 0;
}

@media (min-width: 575.98px) {
    #div-img-vaca{
        justify-content: flex-start !important  ;
    }
    header h1{
        font-size: 28px;
    }
}
