@import url('https://fonts.googleapis.com/css?family=Audiowide|Orbitron:400,600,700&display=swap');


.form-control {
    border: 1px solid rgb(193, 193, 193);
    border-radius: .25rem;
    resize: none;
}

#texto-identificacao {
    color: #404040;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-label {
    font-weight: 500;
}

.group-btn-post {
    padding: 0;
    border-top: #4040404b 1px solid;
    border-bottom: #4040404b 1px solid;
}

.btn-ccp {
    width: 100%;
    padding: 10px;
    color: #404040;
    transition: 0.2s;
}

.btn-ccp:hover {
    background-color: #404040;
    border: gray 1px solid;
    color: #97e042;
}

.midias {
    border: 1px solid rgb(193, 193, 193);
    border-radius: .25rem;
    min-height: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 8px;
}
.img-thumbnail {
    width: 30%;
    max-height: 100px;
    margin-top: 8px;
}

@media(min-width: 579px) {
    #form-criar {
        border: 1px solid rgb(193, 193, 193);
        border-radius: .25rem;
        
    }
}