@font-face{
    font-family: myFont1;
    src: url(../fonts/LoveNature-Rppe6.ttf)
}


/* Header */
header{
    background-color: #404040;
    border-bottom: #98E144 solid 2px;
}
#link-home{
    text-decoration: none;;
}
#link-home :hover{
    opacity: 0.9;
}
header div h1 {
    color: #98E144;
    font-size: xx-large;
    line-height: 0;
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: 700;
    font-family: myFont1;
    letter-spacing: 0.2em;
    font-size: 20px;
}
header img{
    width: 40px;
}

/* Box Formulario */
.box-form{ 
    width: 100%;
    background-color: #fff;
    border-radius: 0.25rem; 
    margin-top: 50px; 
    border: 1px solid rgb(193, 193, 193);
}

#foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 15vh;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 0.25rem;
    cursor: pointer;
}

input[type='file'] {
    display: none
}

/* texto - impute - imagens do formulario */
#texto-identificacao{
    color:#404040;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text-box{
    width: 100%;
    border-bottom: 1px solid #404004;
}
.text-box input{
    width: 100%;    
    border: none;
    font-size: 16px;
    margin: 0 10px;
    outline: none;    
    /* -webkit-box-shadow: 0 0 0 30px white inset; */
}

.form-icons {
   width: 20px;
   /* fill: #98E144;
   font-size: 20px;
   color: #98E144; */
}

/* botão */
.btn-login{
    width: 100%;
    height: 40px;
    margin: 0;
    background-color: #404040;
    color:#98E144;
    font-weight: 600;
    border: none;
    border-radius: 0.25rem;
    transition: 0.2s;        
}
.btn-login:hover{
    opacity: 0.9;
}

/* texto recuperar senha */
#recuperar-senha a{
    color: #404040;
    font-size: 12px;
    text-decoration: none;
}
#recuperar-senha a:hover{
    font-weight: bolder;
}

/* texto criar nova conta */
#criar-conta a{
    font-size:16px ;
    color: #404040;
    font-weight: bold;
    text-decoration: none;
}
#criar-conta a:hover{
    border-bottom: #98E144 2px solid;
}

@media (min-width: 575.98px) {
    header div h1{
        font-size: 28px;
    }

    .box-form{ 
        width: 400px;       
        background-color: #fff;
        border-radius: 7px; 
        margin-top: 50px; 
    }
}
