footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #404040;
}

#btn-criar-post {
    padding-left: 50px;
    padding-right: 50px;
}

.btn-group-toggle .active {
    opacity: 0.9;
    box-shadow: inset rgba(152, 225, 68, 0.5) 0px 0 3px 0px;
    /* border: #98E144 2px solid; */
}

/* Section Feed */
#foto-perfil {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 0.25rem;
  }

#data-post {    
    font-size: smaller;
}

div#feed .card ~ .card {
    margin-top: 20px;
}

.group-btn-post {
    padding: 0;
    border-top: #4040404b 1px solid;
}

.btn-ccp {
    width: 100%;
    padding: 10px;
    color: #404040;
    transition: 0.2s;
}

.btn-ccp:hover {
    background-color: #404040;
    border: gray 1px solid;
    color: #98E144;
}

.badge {
    transition-delay: 0s;
    transition: 0.2s;
}

.badge-pill {
    border: #98E144 1px solid;
}

.curtida {
    color: #404040;
    background-color: #98E144;
}

.curtida:hover {
    color: #404040;
}

form button {
    background-color: transparent
}

input[name='feed'] {
    display: none;
}

/* Modal Editar Post */
.form-control {
    border: 1px solid rgb(193, 193, 193);
    border-radius: .25rem;
    resize: none;
}

.form-label {
    font-weight: 500;
}

input[type='file'] {
    display: none
}

#btn-input-foto{
    background-image: url('../icons/click.png');
    width: 35px;
    height: 40px;
    background-size: cover; 
    cursor: pointer;
}

#texto-selecionar-foto{
    cursor: pointer;
}

.midias {
    border: 1px solid rgb(193, 193, 193);
    border-radius: .25rem;
    min-height: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 8px;
}

.img-thumbnail {
    width: 30%;
    max-height: 100px;
    margin-top: 8px;
    border: none;
}

.btn-danger {
    border-radius: 4px;
}

/* Section Perfil */
#card-perfil {
    width: 100%;
}
.card-img-top{
    object-fit: cover;
    max-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Section Amigos */

section#amigos {
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.list-group-item {
    padding-left: 0;
    padding-right: 0;
}

.img-amigo {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 0.25rem;
}

#btn-remover-favorito{
    color: red;
}

/* Footer */
main {
    margin-bottom: 100px;
}

.btn-feed {
    text-align: center;
    border: #98E144 1px solid;
    border-radius: 4px;
}

@media (max-width: 767px) {
    section#amigos {
        margin-top: 16px;
    }
}