@import url('https://fonts.googleapis.com/css?family=Audiowide|Orbitron:400,600,700&display=swap');
header{
    background-color:  #404040;
}
#form{
    border: 1px solid #97e042;
    border-radius: .25rem;
    box-shadow: 0px 20px  20px #000;   
}   
.btn-salvar{
    background-color: #404040;
    color: #98E144;
    border-radius: 5px;
}
.btn-salvar:hover{
    opacity: 0.9;
}
.form-control,
.form-control-file {
    border: 1px solid rgb(193, 193, 193);
    border-radius: .25rem;
    resize: none;
}

#texto-identificacao{
    color:#404040;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;    
}