@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face{
    font-family: myFont1;
    src: url(../fonts/LoveNature-Rppe6.ttf)
}

@font-face{
    font-family: myFont2;
    src: url(../fonts/LoveTheTrees-qZZ76.ttf);
}

*{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #404040;
    border-bottom: #98E144 solid 2px;
}

.btn {
    border-radius: 0;
}

.row {
    margin: 0;
}

#titulo-navbar {
    font-family: myFont1;
    color: #98E144;
    font-size: 28px;
    line-height: 0;
    letter-spacing: 0.2em;
    display: none;
    margin: 0;
}

#form-buscar{
    text-align: center;
}

i {
    color: #98E144;
    line-height: 1;
}

.icon-menu {
    font-size: 32px;
    align-self: center;
}

.icon-voltar {
    font-size: 40px;
    text-align: center;
}

.btn-vegme {
    background-color: #404040;
    color: #98E144;
    border-radius: 0.25rem;
    transition: opacity 0.2s;
}

.btn-vegme:hover {
    color: #98E144;
    opacity: 0.9;
}

@media (min-width: 769px) {
    #titulo-navbar {
        display: inline;
    }
}