footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #404040;
}

#btn-criar-post {
    padding-left: 50px;
    padding-right: 50px;
}

.btn-group-toggle .active {
    opacity: 0.9;
    box-shadow: inset rgba(152, 225, 68, 0.5) 0px 0 3px 0px;
    /* border: #98E144 2px solid; */
}

/* Section Feed */
#data-post {
    padding: 0;
    margin: 0;
    align-self: flex-end;
    font-size: smaller;
}

div#feed .card ~ .card {
    margin-top: 20px;
}

.group-btn-post {
    padding: 0;
    border-top: #4040404b 1px solid;
}

.btn-ccp {
    width: 100%;
    padding: 10px;
    color: #404040;
    transition: 0.2s;
}

.btn-ccp:hover {
    background-color: #404040;
    border: gray 1px solid;
    color: #98E144;
}

/* Section Perfil */
#card-perfil {
    width: 100%;
}

/* Section Amigos */

section#amigos {
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.list-group-item {
    padding-left: 0;
    padding-right: 0;
}

.img-amigo {
    margin-right: 10px;
    width: 50px;
    border-radius: 0.25rem;

}

/* Footer */
main {
    margin-bottom: 100px;
}

.btn-feed {
    text-align: center;
    margin: 0 4px;
    border: #98E144 1px solid;
    border-radius: 5px;
}

@media (max-width: 767px) {
    section#amigos {
        margin-top: 16px;
    }
}