@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: 'Roboto', Helvetica, Arial, sans-serif sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    border-radius: 0;
}

.row {
    margin: 0;
}

#titulo-navbar {
    color: #98E144;
    font-size: xx-large;
    line-height: 0;
}

#form-buscar{
    text-align: center;
}