

header a img {
  width: 30px;
  height: 30px;
}

.icon-denunciar {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  text-align: center;
  font-size: 20px;
}

.bi-arrow-leftr {
  font-weight: 800;
}

#foto-perfil {
  height: 70px;
  width: 80px;
  border-radius: 0.25rem;
}

#post-completo {
  max-width: 600px;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 0.25rem;
}

.group-btn-post {
  padding: 0;
  border-top: #4040404b 1px solid;
}

.btn-ccp {
  width: 100%;
  padding: 10px;
  color: #404040;
  transition: 0.2s;
}

.btn-ccp:hover {
  background-color: #404040;
  border: gray 1px solid;
  color: #98E144;
}

section#post-comentario {
  height: fit-content;
  border-radius: 0.25rem;
  margin-bottom: 16px;
}

.header-comentarios {
  background-color: lightgray;
  padding: 16px 0;
  text-align: center;
  margin: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-flush{
  padding: 0 16px;
}

.list-group-item {
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
}

.list-group-item p {
  margin: 0;
  padding: 0;
}

.list-group-item .nome-perfil {
  font-weight: 500;
}

.img-amigo {
  margin-right: 10px;
  width: 50px;
  align-self: flex-start;
  border-radius: 0.25rem;
}

/* .icon-post {
  height: 80px;
  width: 80px;
  padding: 10px;
}

.hover-icon:hover {
  background-color: gray;
  transition: 700ms;
} */