header{
  background-color: #404040;
}

header a img {
  width: 30px;
  height: 30px;
}

#foto-perfil {
  height: 70px;
  width: 80px;
}

.icon-post {
  height: 80px;
  width: 80px;
  padding: 10px;
}

.hover-icon:hover {
  background-color: gray;
  transition: 700ms;
}